@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <br/>
    @Html.ActionLink("Produto", "index", "Produto")
    <br/>
    <div>
        <h1>@ViewBag.Programando</h1>
    </div>
</div>
